%h1.title= t('seminar.publication.select_referees_and_publish')
%h2.subtitle=@seminar.title
- @legacy_data_instructor_map.each_with_index do |(instructor, legacy_instructors), idx|
  - chosen_one = @user_map[instructor]
  .columns
    .column.is-3
      .box.has-background-warning.is-paddingless
        .has-text-centered.is-size-7
          = t('seminar.publication.referee.from_neseri')
        %h2.subtitle
          %span.tag
            = idx+1
          = user_name(instructor.user)
        %table.table.is-small.is-round.is-fullwidth.is-narrow
          - [:email, :firstname, :lastname, :address, :phone, :mobile, :homepage, :fax].each do |attr|
            %tr
              %th.is-size-7= User.human_attribute_name(attr)
              %td.is-size-7= instructor.user.send(attr)
    .column.is-9
      .columns.is-multiline
        - [*legacy_instructors].each do |legacy_instructor|
          .column.is-4
            - box_style = (chosen_one&.uuid == legacy_instructor[:id]) ? 'has-background-success is-paddingless' : 'is-paddingless'
            .box(class = box_style)
              .has-text-centered.is-size-7
                = t('seminar.publication.referee.from_legacy')
                %h2.subtitle= "#{legacy_instructor[:firstname]} #{legacy_instructor[:lastname]}"
              %table.table.is-fullwidth
                - [:email, :firstname, :lastname, :place, :zip, :address, :telephone, :cellphone, :homepage, :fax].each do |attr|
                  %tr
                    %th.is-size-7
                      = attr
                    %td.is-size-7
                      = legacy_instructor[attr]
              .buttons.field.is-grouped.is-grouped-centered
                = link_to t("seminar.publication.referee.view_in_legacy_system"), legacy_instructor[:link], class: 'button', target: '_new'
                - if !chosen_one
                  = link_to t("seminar.publication.referee.choose"), admin_user_user_mapping_path(instructor.user, uuid: legacy_instructor[:id]), method: :post, class: 'button'
                - elsif chosen_one.uuid != legacy_instructor[:id]
                  = link_to t("seminar.publication.referee.change"), admin_user_user_mapping_path(instructor.user, uuid: legacy_instructor[:id]), method: :post, class: 'button'
        .column.is-4
          .box.is-paddingless
            .has-text-centered.is-size-7
              = t('seminar.publication.referee.from_legacy')
              %h2.subtitle= t('seminar.publication.referee.recreate')
            .buttons.field.is-grouped.is-grouped-centered
              = link_to t('seminar.publication.referee.create'), admin_admin_seminar_publication_path(@seminar, instructor_id: instructor.id), method: :put, class: 'button'

- if @can_publish && true # TODO true -> check connection to legacy system
  = link_to t('seminar.publish'), admin_admin_seminar_publication_path, class: 'button is-primary', method: :post
