%table.table.is-fullwidth.is-striped
  %tbody
    %tr
      %th(colspan=7)
        %h2.subtitle
          %span.icon
            %i.fa.fa-user-circle
          = t('seminar.form.section.referees')
          - if !seminar.seminar_instructors.empty?
            = mail_to '', cc: seminar.seminar_instructors.pluck(:email).join(','), class: 'is-outlined is-size-7' do
              %span.icon
                %i.fa.fa-envelope.fa-border
              = t(:mail_all_referees)
          - if defined? subheading
            %br
            %small
              = subheading
    %tr
      %th= SeminarInstructor.human_attribute_name(:email)
      %th= SeminarInstructor.human_attribute_name(:qualification)
      %th= SeminarInstructor.human_attribute_name(:comment)
      %th= SeminarInstructor.human_attribute_name(:accommodation)
      %th= SeminarInstructor.human_attribute_name(:main_contact)
      %th= SeminarInstructor.human_attribute_name(:contactable)
      %th= SeminarInstructor.human_attribute_name(:info)
    - if seminar.seminar_instructors.empty?
      %tr
        %td.is-warning{colspan: 6}
          =t(:none)
    - seminar.seminar_instructors.each do |instructor|
      - if instructor.user == current_user
        %tr.is-selected
          %td
            = instructor.send(:email)
          - [:qualification, :comment, :accommodation].each do |attr|
            %td= instructor.send(attr)
          %td
            - if instructor.contactable
              %span.icon
                %i.fa.fa-check
            - else
              %span.icon
                %i.fa.fa-times
          %td
            - if instructor.main_contact
              %span.icon
                %i.fa.fa-check
            - else
              %span.icon
                %i.fa.fa-times
          %td
            -#  delayed to next version, for now we pull address info
            -#- user = User.where(:id => instructor.user_id).first
            - [:firstname, :lastname, :address, :fax, :phone, :mobile, :homepage].each do |attr|
              -#- if user.send(attr)
              - if instructor.send(attr)
                %div
                  %b= User.human_attribute_name(attr) + ":"
                  -#= user.send(attr)
                  = instructor.send(attr)
      - else
        %tr
          %td
            = mail_to instructor.email do
              %span.icon
                %i.fa.fa-envelope.fa-border
            = instructor.send(:email)
          - [:qualification, :comment, :accommodation].each do |attr|
            %td= instructor.send(attr)
          %td
            - if instructor.contactable
              %span.icon
                %i.fa.fa-check
            - else
              %span.delete
          %td
            - if instructor.main_contact
              %span.icon
                %i.fa.fa-check
            - else
              %span.delete

          %td
            -#  delayed to next version, for now we pull address info
            -# from instructor, not user profile
            -#- user = User.where(:id => instructor.user_id).first
            - [:firstname, :lastname, :address, :fax, :phone, :mobile, :homepage].each do |attr|
              -#- if user.send(attr)
              - if instructor.send(attr)
                %div
                  %b= User.human_attribute_name(attr) + ":"
                  -#= user.send(attr)
                  = instructor.send(attr)
