%h1.title.has-text-centered= t(:instructor)
%h2.sub-title.has-text-centered="(#{current_user.email})"

.columns.section
  .column.is-offset-3.is-6
    %table.table.is-fullwidth
      %tbody
        - [:firstname, :lastname, :address, :fax, :phone, :mobile, :homepage].each do |attr|
          %tr
            %th= User.human_attribute_name(attr)
            %td= @instructor.send(attr)
    
    = link_to :edit, edit_instructor_path, class: 'button'
