%tr
  %td
    - if seminar.is_user_seminar?
      = link_to seminar.id, seminar
    - else
      = link_to seminar.id, admin_admin_seminar_path(seminar)
  %td
    - if seminar.is_user_seminar?
      = link_to seminar.title, seminar
    - else
      = link_to seminar.title, admin_admin_seminar_path(seminar)
    - if seminar.locked? || seminar.is_admin_seminar? || !seminar.active? || seminar.uuid || seminar.admin_seminar
      .tags
        - if seminar.admin_seminar
          %span.tag.is-warning
            =t("seminar.tags.has_admin_seminar")
        - if seminar.locked?
          %span.tag.is-link
            =t("seminar.tags.locked")
        - if seminar.is_admin_seminar?
          %span.tag.is-info
            =t("seminar.tags.is-admin")
        - if !seminar.active?
          %span.tag.is-danger
            =t("seminar.tags.is-pulled-back")
        - if seminar.uuid
          %span.tag.is-success
            =t("seminar.tags.is-published")
  %td
    = l(seminar.start_date, format: :short_date)
    %br
    ="-"
    %br
    = l(seminar.end_date, format: :short_date)
  %td
    = l(seminar.created_at, format: :shorter_date)
    #{"(" + seminar.creator&.email + ")" if seminar.creator}
  %td
    - seminar.seminar_instructors.each do |instructor|
      = instructor.email
  %td
    .buttons
      - SeminarAdminActions.new(seminar, current_user).items.each do |item|
        = button_link_to item.icon, item.url, item.title, "is-small #{item.css_classes}", method: (item.http_method || :get)
        %br
