.columns
  .column.is-8.is-offset-2
    %h1.title.has-text-centered
      Veranstaltungsvorschläge für das Ökodorf Sieben Linden

    %p
      Auf diesen Seiten können Vorschläge für (Bildungs-)Veranstaltungen im und mit dem
      = link_to 'Ökodorf Sieben Linden', "https://siebenlinden.org"
      (beziehungsweise dem "Freundeskreis Ökodorf e.V.") eingereicht werden.
    
    - if !user_signed_in?
      %br
      %p
        Um fortzufahren musst du Dich
        %a.button.is-primary(href=new_user_registration_path style="margin-top: -5px;")
          %strong= t('devise.registrations.new.sign_up').downcase
        oder,
        %strong wenn Du bereits ein Konto hast
        = link_to t('devise.sessions.new.sign_in').downcase, new_user_session_path, class: 'button', style: 'margin-top: -5px;'
        \.
      %p
        %br
        Solltest Du dich bereits registriert, aber dein
        %b
          Passwort vergessen
        haben, kannst Du Dir eine
        %br
        .has-text-centered
          = link_to t('reset_password_instructions'), new_user_password_path, class: 'button is-warning', style: 'margin-top: -5px;'
          lassen.
    
    .section
      %h2.subtitle.has-text-centered
        Die Software
      
      .content
        %p
          Die betriebene Software "neseri" #{Neseri::Application::VERSION} ist Freie Software und unter der Lizenz
          %a(href="https://opensource.org/licenses/AGPL-3.0")
            AGPLv3 (oder einer späteren Version)
          veröffentlicht.
        
        %p
          Der Quellcode kann auf
          %a(href="https://github.com/ecovillage/neseri")
            %span.icon
              %i.fab.fa-github
            Github eingesehen werden.
          Die Betreiber/Innen freuen sich über Feedback und/oder Vorschläge sowie Mitarbeit.
        
        %p
          Solltest Du diese Software selber als Betreiber*in verwenden wollen, gehe einfach mit uns
          %a(href=contact_path)
            in Kontakt.
    .section
      Copyright 2019,2020,2021 Freundeskreis Ökodorf Sieben Linden e.V.
