%h1.title= t("admin.sent_mails")

- if @pagy.pages > 1
  != pagy_bulma_nav(@pagy)
%table.table
  %thead
    %tr
      %th
        = t("admin.mails_table.to")
      %th
        = t("admin.mails_table.subject")
      %th
        = t("admin.mails_table.sent_at")
      %th
        = t("admin.mails_table.mailer")
      %th
        = t("admin.mails_table.content")
  %tbody
    - @mails.each do |mail|
      %tr
        %td= mail.to
        %td= mail.subject
        %td= mail.sent_at
        %td= mail.mailer
        %td= link_to t(:view), admin_email_path(mail), class: 'button'
- if @pagy.pages > 1
  != pagy_bulma_nav(@pagy)
