%tr
  %td
    = link_to seminar.title, seminar
  %td
    = l(seminar.created_at, format: :long)
  %td
    = seminar.creator&.email
  %td
    - seminar.seminar_instructors.each do |instructor|
      = instructor.email
  %td
    - if allowed_to? :edit?, seminar
      = link_to t(:edit), edit_seminar_path(seminar), class: 'button'

    - if allowed_to? :create?, with: AdminSeminarPolicy
      - if seminar.admin_seminar
        = link_to t("seminar.view_admin_copy"), admin_seminar_path(seminar), class: 'button'
      - else
        = link_to t("seminar.create_admin_copy"), admin_seminar_path(seminar), class: 'button'
