%tr
  %td
    - if seminar.locked?
      %span.icon
        %i.fa.fa-lock
  %td
    = link_to seminar.title, seminar
  %td
    = l(seminar.start_date, format: :short_date)
    %br
    ="-"
    %br
    = l(seminar.end_date, format: :short_date)
  %td
    = l(seminar.created_at, format: :mid)
    #{"(" + seminar.creator&.email + ")" if seminar.creator}
  %td
    - seminar.seminar_instructors.each do |instructor|
      %small
        = instructor.email
  %td
    -if seminar.locked? || seminar.is_admin_seminar? || !seminar.active? || seminar.uuid 
      .tags
        - if seminar.locked?
          %span.tag.is-warning
            =t("seminar.tags.locked")
        - if seminar.is_admin_seminar?
          %span.tag.is-info
            =t("seminar.tags.is-admin")
        - if !seminar.active?
          %span.tag.is-danger
            =t("seminar.tags.is-pulled-back")
        - if seminar.uuid
          %span.tag.is-success
            =t("seminar.tags.is-published")
    - if allowed_to? :edit?, seminar
      %p.buttons
        -# link_to_if
        = button_link_to 'fa-wrench', edit_seminar_path(seminar),  t(:edit),  'is-small is-outlined'
    - if allowed_to? :show?, seminar
      %p.buttons
        = button_link_to 'fa-clone',  seminar_clone_path(seminar), t(:clone), 'is-small is-light', method: :post
    - if allowed_to? :create?, with: AdminSeminarPolicy
      - SeminarAdminActions.new(seminar, current_user).items.each do |item|
        = button_link_to item.icon, item.url, item.title, "is-small #{item.css_classes}", method: (item.http_method || :get)
        %br
