%tr
  %td
    = link_to seminar.id, seminar
  %td
    = link_to seminar.title, seminar
  %td
    = l(seminar.start_date, format: :short_date)
    %br
    ="-"
    %br
    = l(seminar.end_date, format: :short_date)
  %td
    = l(seminar.created_at, format: :mid)
    #{"(" + seminar.creator&.email + ")" if seminar.creator}
  %td
    - seminar.seminar_instructors.each do |instructor|
      = instructor.email
  %td
    -if seminar.locked? || seminar.is_admin_seminar? || !seminar.active? || seminar.uuid 
      .tags
        - if seminar.locked?
          %span.tag.is-warning
            =t("seminar.tags.locked")
        - if seminar.is_admin_seminar?
          %span.tag.is-info
            =t("seminar.tags.is-admin")
        - if !seminar.active?
          %span.tag.is-danger
            =t("seminar.tags.is-pulled-back")
        - if seminar.uuid
          %span.tag.is-success
            =t("seminar.tags.is-published")
    - if allowed_to? :edit?, seminar
      %p.buttons
        = link_to edit_seminar_path(seminar), class: 'button' do
          %span.icon.is-small
            %i.fa.fa-wrench
          %span
            = t(:edit)
        = link_to seminar_clone_path(seminar), class: 'button is-light', method: :post do
          %span.icon.is-small
            %i.fa.fa-clone
          %span.is-light
            = t(:clone)
    - if allowed_to? :create?, with: AdminSeminarPolicy
      - if seminar.admin_seminar
        = link_to t("seminar.view_admin_copy"), admin_seminar_path(seminar), class: 'button'
      - else
        = link_to t("seminar.create_admin_copy"), admin_seminar_admin_copy_path(seminar), class: 'button is-small', method: :post
