-#  %h1.title= Seminar.model_name.human(count: 2)

- if @current_seminars.empty? && @past_seminars.empty?
- else
  .has-text-centered
    = link_to t('seminar.new'), new_seminar_path, class: 'button is-primary is-medium'
  %hr

- if @current_seminars.present?
  .level
    .level-item-left
      %h2.title= t("seminars.my")
    .level-item-right
      - if @pagy_current.pages > 1
        != pagy_bulma_nav(@pagy_current)
  = render 'seminar_table', seminars: @current_seminars
  .level
    .level-item-left
    .level-item-right
      - if @pagy_current.pages > 1
        != pagy_bulma_nav(@pagy_current)


- if @past_seminars.present?
  .level
    .level-item-left
      %h2.subtitle= t("seminars.past")
    .level-item-right
      - if @pagy_past.pages > 1
        != pagy_bulma_nav(@pagy_past)
  = render 'seminar_table', seminars: @past_seminars
  - if @pagy_past.pages > 1
    != pagy_bulma_nav(@pagy_past)
  .level
    .level-item-left
    .level-item-right
      - if @pagy_past.pages > 1
        != pagy_bulma_nav(@pagy_past)

- if @current_seminars.empty? && @past_seminars.empty?
  .hero.is-primary.is-bold.is-large.is-fullwidth
    .hero-body
      .container.has-text-centered
        %h1.title= t(:no_own_seminars_yet)
        .container.has-text-centered
        = link_to t('seminar.new'), new_seminar_path, class: 'button is-primary is-large'
- else
  %hr
  .has-text-centered
    = link_to t('seminar.new'), new_seminar_path, class: 'button is-primary is-medium'

