- if @created_seminars.present?
  %h2.title= t(:created_seminars)
  
  %table.table.is-fullwidth
    %thead
      %tr
        %th= Seminar.human_attribute_name(:title)
        %th= t('seminars.index.created_at')
        %th= Seminar.human_attribute_name(:creator)
        %th= Seminar.human_attribute_name(:seminar_instructors)
        %th
    %tbody
      = render partial: 'seminar_table_row', collection: @created_seminars, as: 'seminar'

- if @teaching_seminars.present?
  %h2.title= t(:teaching_seminars)
  %table.table.is-fullwidth
    %thead
      %tr
        %th= Seminar.human_attribute_name(:title)
        %th= t('seminars.index.created_at')
        %th= Seminar.human_attribute_name(:creator)
        %th= Seminar.human_attribute_name(:seminar_instructors)
        %th
    %tbody
      = render partial: 'seminar_table_row', collection: @teaching_seminars, as: 'seminar'
  

- if @seminars.present?
  %h1.title= Seminar.model_name.human(count: 2)

  %table.table.is-fullwidth
    %thead
      %tr
        %th= Seminar.human_attribute_name(:title)
        %th= t('seminars.index.created_at')
        %th= Seminar.human_attribute_name(:creator)
        %th= Seminar.human_attribute_name(:seminar_instructors)
        %th
    %tbody
      = render partial: 'seminar_table_row', collection: @seminars, as: 'seminar'
      -#- @seminars.each do |seminar|
      -#      - if allowed_to? :create?, with: AdminSeminarPolicy
      -#        - if seminar.admin_seminar
      -#          = link_to t(:view_admin_copy), admin_seminar_path(seminar), class: 'button'
      -#        - else
      -#          = link_to t(:create_admin_copy), admin_seminar_path(seminar), class: 'button'
      -#      - if allowed_to? :edit?, seminar
      -#        = link_to t(:edit), edit_seminar_path(seminar), class: 'button'
      -#      - else
      -#        = link_to t(:view), seminar_path(seminar), class: 'button'
- else
  %h1.subtitle= t(:no_own_seminars_yet)

= link_to t('seminar.new'), new_seminar_path, class: 'button is-primary'

