.level
  .level-item-left
    %h1.title
      = Seminar.model_name.human
      = ":"
      = @seminar.title
  .level-item-right
    - if allowed_to?(:edit?, @seminar)
      = button_link_to 'fa-edit', edit_seminar_path(@seminar), t(:edit), 'is-link'

- if @seminar.locked
  .notification.is-notice
    .media
      .media-left
        %span.icon.is-size-3
          %i.fa.fw.fa-lock
      .media-content
        = t("seminar.is-locked")

- if @seminar.admin_seminar && allowed_to?(:show?, @seminar.admin_seminar, with: AdminSeminarPolicy)
  .notification.is-link
    .media
      .media-left
        %span.icon.is-size-3
          %i.fa.fw.fa-info
      .media-content
        = t("seminar.has_admin_copy_link_html", admin_copy_path: admin_admin_seminar_path(@seminar.admin_seminar))

%br
.is-small
  - if @seminar.creator
    = Seminar.human_attribute_name(:creator).capitalize
    = @seminar.creator.email
  = l(@seminar.created_at, format: :long)
.is-small
  = Seminar.human_attribute_name(:updated_at)
  = l(@seminar.updated_at, format: :long)

%br

.columns.is-multiline
  .column.is-12
    .box
      %table.table.is-fullwidth
        %tbody
          %tr
            %th(colspan=2)
              %h2.subtitle 
                %span.icon
                  %i.fa.fa-star
                = t('seminar.form.section.publication')
          - [:title, :subtitle, :description].each do |attr|
            %tr
              %th= Seminar.human_attribute_name(attr)
              %td= @seminar.send(attr)

  .column.is-6
    %table.table.is-fullwidth.box
      %tbody
        %tr
          %th(colspan=2)
            %h2.subtitle 
              %span.icon
                %i.fa.fa-calendar
              = t('seminar.form.section.dates')
        - [:start_date, :end_date, :seminar_kind, :cancellation_time, :cancellation_reason].each do |attr|
          %tr
            %th= Seminar.human_attribute_name(attr)
            %td= @seminar.send(attr)
  .column.is-6
    %table.table.box.is-fullwidth
      %tbody
        %tr
          %th(colspan=2)
            %h2.subtitle 
              %span.icon
                %i.fa.fa-money
              = t('seminar.form.section.costs')
        - [:royalty_participant, :royalty_participant_reduced, :material_cost].each do |attr|
          %tr
            %th= Seminar.human_attribute_name(attr)
            %td= @seminar.send(attr)
  .column.is-6
    %table.table.box.is-fullwidth
      %tbody
        %tr
          %th(colspan=2)
            %h2.subtitle 
              %span.icon
                %i.fa.fa-users
              = t('seminar.form.section.participants')
        - [:attendees_minimum, :attendees_maximum, :attendees_preconditions, :please_bring].each do |attr|
          %tr
            %td= Seminar.human_attribute_name(attr)
            %td= @seminar.send(attr)
    
  .column.is-6
    %table.table.box.is-fullwidth
      %tbody
        %tr
          %th(colspan=2)
            %h2.subtitle 
              %span.icon
                %i.fa.fa-sitemap
              = t('seminar.form.section.infrastructure')
          %tr
            %th= Seminar.human_attribute_name(:room_wish)
            %td= @seminar.wished_room&.name
        - [:room_material, :room_extras].each do |attr|
          %tr
            %th= Seminar.human_attribute_name(attr)
            %td= @seminar.send(attr)
    

.box
  %table.table.is-fullwidth
    %tbody
      %tr
        %th(colspan=4)
          %h2.subtitle
            %span.icon
              %i.fa.fa-user-circle
            = t('seminar.form.section.referees')
              
      %tr
        %th= SeminarInstructor.human_attribute_name(:email)
        %th= SeminarInstructor.human_attribute_name(:qualification)
        %th= SeminarInstructor.human_attribute_name(:comment)
        %th= SeminarInstructor.human_attribute_name(:accommodation)
      - if @seminar.seminar_instructors.empty?
        %tr
          %td.is-warning{colspan: 4}
            =t(:none)
      - @seminar.seminar_instructors.each do |instructor|
        - if instructor.user == current_user
          %tr.is-selected
            %td
              = instructor.send(:email)
            - [:qualification, :comment, :accommodation].each do |attr|
              %td= instructor.send(attr)
        - else
          %tr
            %td
              = mail_to instructor.email do
                %span.icon
                  %i.fa.fa-envelope.fa-border
              = instructor.send(:email)
            - [:qualification, :comment, :accommodation].each do |attr|
              %td= instructor.send(attr)


.box
  %table.table.is-fullwidth
    %tbody
      %tr
        %th(colspan=1)
          %h2.subtitle 
            %span.icon
              %i.fa.fa-file
            = t('seminar.files')
      - if @seminar.files.empty?
        %tr
          %td.is-warning= t(:none)
      - @seminar.files.each do |file|
        %tr
          %td
            = link_to file.filename, url_for(file), target: '_new'
            = link_to url_for(file), target: '_new' do
              %span.icon
                %i.fa.fa-trash

              

.box
  %h2.subtitle= t("seminar.user_actions")
  .level
    .level-item-left
      .buttons
        - navigation[:seminar_user_actions].items.each do |item|
          - method, classes = item.description.to_s.split(' ')
          - classes ||= ''
          - method ||= :get
          = button_link_to item.icon, item.url, item.title, classes, method: method
    .level-item-right
      = link_to seminar_path(@seminar), class: 'button is-danger', method: :delete do
        %span.icon.is-small
          %i.fa.fa-trash
        %span
          = t('seminar.pull_back')

- if current_user.admin?
  .box
    - if !@seminar.locked? && (allowed_to? :create?, with: LockPolicy)
      = button_link_to 'fa-lock', admin_seminar_lock_path(@seminar), t(:lock), '', method: :post
    - if @seminar.locked? && (allowed_to? :create?, with: LockPolicy)
      = button_link_to 'fa-unlock', admin_seminar_lock_path(@seminar), t(:unlock), '', method: :delete
    - if allowed_to? :create?, with: AdminSeminarPolicy
      - if @seminar.admin_seminar
        = link_to t(:view_admin_copy), admin_admin_seminar_path(@seminar), class: 'button'#, method: :post
      - else
        = link_to t(:create_admin_copy), admin_admin_seminars_path(user_seminar_id: @seminar.id), class: 'button', method: :post
