%h1.title= t(:users_index)

- if @pagy.pages > 1
  != pagy_bulma_nav(@pagy)
%table.table.is-fullwidth
  %thead
    %tr
      %th= t("admin.users.name")
      %th= t("admin.users.email")
      %th= t("admin.users.seminars")
      %th= t("admin.users.state")
      %th= t("admin.users.actions")
  %tbody
    - @users.find_each do |user|
      %tr
        %td= user_name user
        %td= user.email
        %td
          - user.created_seminars.each do |seminar|
            = link_to seminar.title, seminar_path(seminar)

          - user.teaching_seminars.each do |seminar|
            = link_to seminar.title, seminar_path(seminar)
        %td
          .tags
            - if user.confirmation_token && !user.confirmed_at
              %span.tag.is-warning
                =t("admin.users.tags.unconfirmed")
            - if user.invitation_token
              %span.tag.is-info
                =t("admin.users.tags.invitation_pending")
            - if user.profile_missing?
              %span.tag
                =t("admin.users.tags.profile_missing")
        %td
          %a(href="mailto:#{user.email}")
            =t(:send_mail)
          -#= link_to t(:show), admin_user_path(user), class: 'button'
- if @pagy.pages > 1
  != pagy_bulma_nav(@pagy)

