%h1.title= user_name @user
%h2.subtitle= @user.email

.columns.section
  .column.is-offset-3.is-6
    %table.table.is-fullwidth
      %tbody
        - [:firstname, :lastname, :address, :fax, :phone, :mobile, :homepage].each do |attr|
          %tr
            %th= User.human_attribute_name(attr)
            %td= @user.send(attr)


- if @seminars.present?
  .level
    .level-item-left
      %h2.title= t(:involved_seminars)
    .level-item-right
  = render 'seminars/seminar_table', seminars: @seminars
