%nav.navbar{"aria-label" => "main navigation", :role => "navigation", class: 'is-light'}
  .navbar-brand
    %a.navbar-burger.burger{"aria-expanded" => "false", "aria-label" => "menu", "data-target" => "navbarBasicExample", :role => "button"}
      %span{"aria-hidden" => "true"}
      %span{"aria-hidden" => "true"}
      %span{"aria-hidden" => "true"}
  #navbar.navbar-menu
    .navbar-start
      - if allowed_to? :index?, Seminar, with: AdminSeminarPolicy
        = link_to t(:admin_seminars), admin_admin_seminars_path, class: 'navbar-item'
        = link_to t("admin.proposed_seminars"), admin_seminars_path, class: 'navbar-item'

      - navigation[:main].items.each do |item|
        = render 'actionnav_item', item: item
    .navbar-end
      - navigation[:admin].items.each do |item|
        = render 'actionnav_item', item: item
      .navbar-item
        .buttons
          - if user_signed_in?
            = link_to current_user.email, instructor_path, class: 'button'
            - if current_user != true_user
              -#You #{true_user.email} are signed in as #{current_user.email}
              = link_to t(:back_to_admin), stop_impersonating_admin_users_path, method: :post, class: 'button is-dark'
            - else
              = link_to t('sessions.destroy.sign_out'), destroy_user_session_path, method: :delete, class: "button is-dark"
          - else
            %a.button.is-primary(href=new_user_registration_path)
              %strong= t('devise.registrations.new.sign_up')
            = link_to t('devise.sessions.new.sign_in'), new_user_session_path, class: 'button'
