%nav.navbar{"aria-label" => "main navigation", :role => "navigation", class: 'is-light'}
  .navbar-brand
    %a.navbar-burger.burger{"aria-expanded" => "false", "aria-label" => "menu", "data-target" => "navbarBasicExample", :role => "button"}
      %span{"aria-hidden" => "true"}
      %span{"aria-hidden" => "true"}
      %span{"aria-hidden" => "true"}
  #navbar.navbar-menu
    .navbar-start
      - navigation[:main].items.each do |item|
        = render 'actionnav_item', item: item
    .navbar-end
      - navigation[:admin].items.each do |item|
        = render 'actionnav_item', item: item
      - if current_user&.admin?
        .navbar-item.has-dropdown.is-hoverable
          %a.navbar-link
            = :admin
          .navbar-dropdown
            - if allowed_to? :index?, User
              = link_to :settings, admin_users_path, class: "navbar-item"
            - if allowed_to? :index?, User
              = link_to :texts, admin_users_path, class: "navbar-item"
      .navbar-item
        .buttons
          - if user_signed_in?
            = link_to current_user.email, instructor_path, class: 'button'
            = link_to t('sessions.destroy.sign_out'), destroy_user_session_path, method: :delete, class: "button is-light"
          - else
            %a.button.is-primary(href=new_user_registration_path)
              %strong= t('devise.registrations.new.sign_up')
            = link_to t('devise.sessions.new.sign_in'), new_user_session_path, class: 'button'
