!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Neseritu
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'navbar'
    %section.section
      .container
        %noscript
          .notification{ :class => 'is-primary' }
            %span.icon.has-text-warning
              %i.fa.fa-warning
            = t('notification.nojs')

        - if notice
          .notification
            %span.icon.is-large.has-text-warning
              %i.fa.fw.fa-warning
            !=notice
        - if alert
          .notification
            %span.icon.is-large.has-text-danger
              %i.fa.fw.fa-warning
            !=alert
        = yield

